
* {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 50px 0 0 0;
  font: 12px/1.4 Helvetica, Arial, sans-serif;
}

.node rect {
  cursor: move;
  fill-opacity: .9;
  shape-rendering: crispEdges;
}

.node text {
  pointer-events: none;
}

.link {
  fill: none;
  stroke: #000;
  stroke-opacity: .2;
}

.link:hover {
  stroke-opacity: .5;
}
